body {
    background-image: linear-gradient(rgb(27, 4, 48), rgb(76, 16, 132));
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;   /* Para eviar repetição do gradiente */
    background-attachment: fixed;   /* Isso garante que o gradiente de fundo coloque o preenchimento sobre toda a tela */
}

header.site_header {
    padding-top: 10px;
    background-color: #13031f;
    height: 79px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7000;
}

.main {
    width: 1400px;
    display: block;
    margin: auto;
}

.header_logo {
    width: 100px;
    padding: 15px;
    padding-left: 40px;
}

.T1 {
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 20pt;
    text-align: center;
    font-family: poppins;
    color: aliceblue;
    transition: all 1s;
}

.T1:hover {
    color: rgb(255, 115, 0);
    transform: translateY(20px);
}

.retangulo {
    margin: 0;
    display: block;
    background-color: rgb(245, 220, 241);
    width: 100%;
    height: 500px;
    transition: all 1s;
}

.retangulo:hover {
    transform: scaleY(110%);
    background-color: rgb(229, 176, 245);
}